h1 {

	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	background: #0086b3;
	font-size: 20px;
	padding: 10px;
	transition:all 1s ease;
	position: fixed;
	width: 100%;
	border: 5px black solid;
}
h1:hover{


	background: #990000;
	

color: #EEE;
text-shadow: 4px 4px 1px #300000;
text-shadow:4px 6px 1px #400000; text-shadow:4px 8px 1px #500000; text-shadow:4px 6px 1px #600000; text-shadow:4px 6px 1px #700000; text-shadow:4px 6px 1px #800000; text-shadow:4px 60px 5px #FF0000;

}
body {

	transition:all 1s ease;
	background: #1ac6ff;
	width:100%;
}
.description{

	text-align: center;
	padding-top: 20px;
	font-family: 'Acme', sans-serif;
	transition:all .5s ease;
	margin: auto;

	text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a;
     
      
      
  

}

.description:hover{

	-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.title{

	font-family: 'Gloria Hallelujah', cursive;
	margin-top: 100px;
	text-align: center;
	transition:all 2s ease;
	background: #bfff80;
}
.title:hover{

	box-shadow:
                1px 1px #bfff80,
                2px 2px #cc0088,
                3px 3px #1a3300,
                4px 4px #99ff33,
                5px 5px #8cff1a;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
.doodle{

	transition:all 1s ease;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 5px green ridge;
	margin-top: 30px;
}
.doodle:hover{

	-webkit-transform: rotateZ(-360deg);
        -ms-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
}
.dood{
	display: block;
	margin-right: auto;
	margin-left: auto;
transition:all 60s ease;
height: 300px;
	width: 300px;

}
.dood:hover{
	-webkit-transform: rotateZ(-36000deg);
        -ms-transform: rotateZ(-36000deg);
        transform: rotateZ(-36000deg);
}
}

.mouse 
{
position:absolute;
visibility:visible;
top:-50px;
font-size:12px;
font-family:comic sans ms;
color:yellow;
}

@media only screen and (max-width: 500px) {





body{

	background-color: #660000;
}


.description{

	color: #99ff99;
}
.doodle{

	border: 5px #6666ff ridge;
}
.title{

	color: #ff6666;
}


h1{

	background: #003366;
}

.dood{
	height: 300px;
	width: 300px;
}


}